ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;

}
.icon{
  display: block;
  color: rgb(126, 123, 123);
  text-align: center;
  padding: 8px 1px;
  text-decoration: none;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}


#body{
  text-align: center;
  margin-top: 50px;
}

.navbar{
  float: right;
}
/* #Search{
  width: 40%;
  border: 1px solid rgb(209, 207, 207);
  padding: 12px;
  border-radius: 25px;
  outline: none;
} */
img{
  width: 20rem;
}
button{
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 30px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.rdx{
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 37px;
  margin: 0 auto;
  width: 400px;
}
.pdx{
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}
.sicon{
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.micon{
  display: flex;
  flex: 0 0 auto;
  margin-top: 8px;
  margin-right: 2px;
  align-items: stretch;
  flex-direction: row;
  color: blue;
}
.sbar{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: none;
  outline: none;
}
.fa-search{
  color: #d6d8db;
}
body, html {
  font-size: small;
}
body {
  background: #fff;
  color: #222;
}
body, td, a, p, .h {
  font-family: arial,sans-serif;
}
.bnav1 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.bnav2 {
  background: #f2f2f2;
  line-height: 40px;
  min-width: 980px;
  border-top: 1px solid #e4e4e4;
  min-width: 400px;
}
.b2 {
  border-bottom: 1px solid #e4e4e4;
}
.c2 {
  margin-left: 30px;
  text-align: left;
  color: rgba(0,0,0,.54);
  padding-left: 27px;
}
#fsr {
  
  margin-left: 20px;
}
#fsl {
  margin-right: 102px;
  float: right;
}
.reference{
  padding-left: 27px;
  margin: 0 !important;
  font-size: 13px;
}
footer a{
  text-decoration: none;
  color: #5f6368;
}
.fbar{
  font-size: 14px;
  margin-left: -27px;
}
.dicon:hover, .dicon:focus {
  background-color: white;
}
.dropdown {
 
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: white;
  font-family: inherit;
  margin: 2px;
}


.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
ul button {
  background-image: none;
}
a:hover{
  text-decoration: underline;
}
.sbutton:hover {
  background-color: #f8f9fa;
  background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  color: #202124;

}
.sbutton:focus {
  border: 1px solid #4d90fe;
  outline: none;
}
footer{
  min-width: 1139px;
  width: auto;
  min-width: 400px;
}
.rdx:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgba(223,225,229,0);
}
.grid{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
}